* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  display: none;
}
div {
  display: none;
}

input:checked + div {
  display: block;
}
label {
  display: block;
  width: fit-content;
  padding: 12px 16px;
  background-color: #04aa6d;
  color: white;
  margin: 10px;
  border-radius: 16px;
}
